body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #171123;
  font-family: 'Ubuntu', sans-serif;
}
/* .title {
  font-family: 'Ubuntu', sans-serif;
} */

/* HEADER STYLING */
header {
  color: white;
}
header h1 {
  font-size: 2.5rem;
}

nav {
  overflow: auto;
  width: 100%
}
.leftLink {
  float: left;
}
.rightLink {
  float: right;
  padding: 8px;
  color: rgb(223, 103, 197);
}

/* end header styling */

/* START LANDING PAGE STYLING */
.landing {
  color: white;
}
.landing h1 {
  font-size: 2rem;
  padding-top: 15px;
}

.hero {
  /* This starts at 'src' folder! */
  background-image: url("rock-music-shot.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* centering the button in the middle */
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=submit] {
  border: 1px dotted;
  font-size: 32px;
}

.selling-points {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.point {
  padding: 0 10px;
}
.point-description {
  max-width: 250px;
}
/* end landing page styling */

/* BEGIN LIBRARY STYLING */
.library {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.libContainer {
  flex: 1;
}
.libInfo {
  /* color: white; */
  color: #5b85aa;
}

.library img {
  max-width: 350px;
  margin: 30px;
}

.libArtist {
  margin: 5px;
} 

@media (max-width: 700px) {
  .library {
    display: block;
  }
}
/* end library styling */



/* BEGIN ALBUM STYLING */

.container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;


  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 255px;
  /* border-radius: 25px; */
}
#album-info {
  position: relative;
  text-align: center;
  color: white;
}
.album-details {
  position: absolute;
  font-size: 10px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(48, 47, 47, 0.7);
  opacity: 0.7;
  width: 100%;
}

#album-cover-art {
  max-width: 250px;
}
/* into PlayerBar component */
.player-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#time-control {
  display: flex;
  margin: 20px;
}
.current-time, .total-time {
  padding: 0 5px;
}

#button button {
  width: 50px;
  height: 30px;
}

#volume-control {
  display: flex;
  margin: 20px;
}
#volume-control .icon {
  padding: 0 5px;
}


.list {
  position: absolute;
  width: 300px;
  height: 120px;
  margin: auto;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
#song-list {
  color: white;
}
.song {
  padding: 0 20px;
}

.song-playing {
  padding: 10px;
}
/* end album styling */